<section class="gnt-sec-3">
  <div>
    <h2 class="mb-8 text-center">年間行事</h2>
    <v-timeline :dense="$vuetify.breakpoint.smAndDown">
      <v-timeline-item
        v-for="(event, i) in events"
        :key="i"
        :color="event.color"
        small
      >
        <template v-slot:opposite>
          <v-img :src="event.img" class="event-img" v-if="i%2==0"></v-img>
          <span
            :class="`headline font-weight-bold ${event.color}--text`"
            v-text="event.month"
          ></span>
          <v-img :src="event.img" max-width="200px" class="event-img" v-if="i%2==1"></v-img>
        </template>
        <v-card class="elevation-2">
          <v-card-title :class="`headline font-weight-light mb-0 ${event.color}--text`">
            {{ event.title }}
          </v-card-title>
          <v-card-text>
            {{ event.text }}
          </v-card-text>
        </v-card>
      </v-timeline-item>
    </v-timeline>
  </div>
</section>
