<v-container>
  <v-row class="my-8">
    <v-col cols="12" sm="6" md="4">
      <div class="mb-8">
        <MemberCard 
        :imgSrc="require('@/assets/img/gonuxt/sample01.jpg')"/>
      </div>
    </v-col>
    <v-col cols="12" sm="6" md="4">
      <div class="mb-8">
        <MemberCard 
        :imgSrc="require('@/assets/img/gonuxt/sample02.jpg')"/>
      </div>
    </v-col>
    <v-col cols="12" sm="6" md="4">
      <div class="mb-8">
        <MemberCard 
        :imgSrc="require('@/assets/img/gonuxt/sample03.jpg')"/>
      </div>
    </v-col>
    <v-col cols="12" sm="6" md="4">
      <div class="mb-8">
        <MemberCard 
        :imgSrc="require('@/assets/img/gonuxt/sample01.jpg')"/>
      </div>
    </v-col>
    <v-col cols="12" sm="6" md="4">
      <div class="mb-8">
        <MemberCard 
        :imgSrc="require('@/assets/img/gonuxt/sample02.jpg')"/>
      </div>
    </v-col>
    <v-col cols="12" sm="6" md="4">
      <div class="mb-8">
        <MemberCard 
        :imgSrc="require('@/assets/img/gonuxt/sample02.jpg')"/>
      </div>
    </v-col>
  </v-row>
</v-container>
