<v-container>
  <v-row>
    <v-col cols="12">
      <h2 style="text-align: center">（タイトル）</h2>
      <p style="text-align: center">（サブタイトル）</p>
    </v-col>
  </v-row>
  <v-row class="d-flex justify-left align-center">
    <v-col
      cols="12"
      sm="6"
      md="4"
      class="pa-md-5 gonuxt-tile"
      v-for="member in members"
      :key="member.txtBody"
    >
      <MemberCard
        :imgSrc="member.imgSrc"
        :txtBody="member.title"
        :name="member.titleSize"
        :job="member.txtPosition"
        imgSize="5"
      />
    </v-col>
  </v-row>
</v-container>
