<v-container fluid>
  <v-row class="d-flex justify-left align-center gont-tile-layout-template">
    <v-col cols="12">
      <h3>SM = single column, MD=2 columns</h3>
    </v-col>
    <v-col
      cols="12"
      sm="6"
      md="4"
      class="pa-md-5 gonuxt-tile"
      v-for="tile in tiles2Col"
      :key="tile.title"
    >
      <nuxt-link to="/" class="text-decoration-none">
        <PhotoCardA
          :imgSrc="tile.imgSrc"
          :title="tile.title"
          :titleSize="tile.titleSize"
          :txtPosition="tile.txtPosition"
          :link="tile.link"
        />
      </nuxt-link>
    </v-col>
  </v-row>
</v-container>
