@import '@/assets/styles/app';

.flame1 {
  width: 97%;
  height: 250px;
  background-color: rgb(226, 225, 225);
  margin: 0 auto;
}
.flame3 {
  text-align: center;
  height: 50px;
  padding-top: 10px;
}
.flame4 {
  padding-left: 50px;
  padding-top: 20px;
}
.flame0 {
  margin-top: -20px;
}
