<div class="flame1">
  <h1 class="pb-8 flame3">Contact Us</h1>
  <v-container class="flame0">
    <v-row>
      <v-col cols="12" sm="6" class="pt-8 pl-8">
        <h2>SNS</h2>
        <v-btn
          v-for="(link, index) in links"
          :key="index"
          color="white"
          rounded
          icon
          class="mx-8"
        >
          <a :key="link.icon" :href="link.link" class="text-decoration-none">
            <v-icon size="3em" color="black">{{ link.icon }}</v-icon>
          </a>
        </v-btn>
      </v-col>
      <v-col cols="12" sm="6" class="pt-8 pl-8">
        <h2>公共交通機関</h2>
        <h5>・阪急電車千里線「北千里駅」下車。東へ徒歩 約15分</h5>
        <h5>・阪急電車千里線「北千里駅」下車。東へ徒歩 約15分</h5>
      </v-col>
    </v-row>
  </v-container>
</div>
