<section class="gnt-sec-2">
  <v-container class="txt-img-box">
    <v-row class="d-flex align-stretch">
      <v-col cols="12" sm="6" class="img-box">
        <v-img :src="imgSrc" />
      </v-col>
      <v-col cols="12" sm="6" class="d-flex txt-box">
        <div class="d-block">
          <h2 class="font-weight-bold d-block">TextImgST - Title</h2>
          <p class="d-block">
            Pellentesque habitant morbi tristique senectus et netus et malesuada
            fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae,
          </p>
          <div class="d-block mt-5">
            <v-btn
              dark
              outlined
              rounded
              class="lighten-1 font-weight-bold mx-2"
              color="white "
              elevation="0"
            >
              ボタン1
            </v-btn>
            <v-btn
              dark
              rounded
              class="lighten-1 font-weight-bold black--text mx-2"
              color="white"
              elevation="0"
            >
              ボタン2
            </v-btn>
          </div>
        </div>
      </v-col>
    </v-row>
  </v-container>
</section>
