<v-container>
  <v-row justify="space-around" class="my-8">
    <v-col cols="12" sm="6" md="4">
      <div class="mb-8">
        <SimpleCard
          title="(title) 活動場所"
          mainText="(mainText) 用途"
          subText="(subText) 情報"
          :imgSrc="require('@/assets/gonuxt/img/sample01.jpg')"
        />
      </div>
    </v-col>
    <v-col cols="12" sm="6" md="4">
      <div class="mb-8">
        <SimpleCard
          title="(title) 第一コート"
          mainText="(mainText) 試合"
          subText="(subText) 対大阪大学"
          :imgSrc="require('@/assets/gonuxt/img/sample02.jpg')"
        />
      </div>
    </v-col>
    <v-col cols="12" sm="6" md="4">
      <div class="mb-8">
        <SimpleCard
          title="(title) 第二コート"
          mainText="(mainText) 試合"
          subText="(subText) 対京都大学"
          :imgSrc="require('@/assets/gonuxt/img/sample02.jpg')"
        />
      </div>
    </v-col>
    <v-col cols="12" sm="6" md="4">
      <div class="mb-8">
        <SimpleCard
          title="(title) 第三コート"
          mainText="(mainText) 試合"
          subText="(subText) 対東京大学"
          :imgSrc="require('@/assets/gonuxt/img/sample02.jpg')"
        />
      </div>
    </v-col>
    <v-col cols="12" sm="6" md="4">
      <div class="mb-8">
        <SimpleCard
          title="(title) グラウンドA"
          mainText="(mainText) 練習"
          subText="(subText) 平日"
          :imgSrc="require('@/assets/gonuxt/img/sample03.jpg')"
        />
      </div>
    </v-col>
    <v-col cols="12" sm="6" md="4">
      <div class="mb-8">
        <SimpleCard
          title="(title) グラウンドB"
          mainText="(mainText) 練習"
          subText="(subText) 休日"
          :imgSrc="require('@/assets/gonuxt/img/sample03.jpg')"
        />
      </div>
    </v-col>
  </v-row>
</v-container>
