<section>
  <v-container fluid>
    <u><h1>ACCESS</h1></u>
    <v-row >
        <v-col cols="12"sm="6" class="gmap">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3275.360867873206!2d135.5222789155346!3d34.82201828421804!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6000fb60db96a653%3A0xf584717b6ac7c9ef!2z5aSn6Ziq5aSn5a2m!5e0!3m2!1sja!2sjp!4v1646917496927!5m2!1sja!2sjp" class ="gmap iframe" width="100%" height="400" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </v-col>
        <v-col cols="12" sm="6">
          <h2>交通アクセス</h2>
          <p>阪急電車千里線「北千里駅」下車。東へ徒歩 約15分</p>
          <h2>活動日</h2>
          <p>毎週 月・水・金</p>
          <h2>連絡先</h2>
          <p>mail: 〇〇〇〇@gmail.com</p>
          <p>tel: 012-3456-6789</p>
        </v-col>
      </v-row>
    </v-container>
</section>
