@import '~vuetify/src/styles/styles.sass';

// Colors //
$primary: #536dfe;
$secondary: #ff5c93;
$error: #ff4081;
$warning: #ffc260;
$success: #3cd4a0;
$info: #9013fe;
$text-color: #6e6e6e;
$text-grey: #b9b9b9;
$title-grey: #4a4a4a;
