<v-main>
  <v-row class="py-6">
    <v-col cols="12" class="text-center font-weight-bold">
      <h1>Template Showcase</h1>
    </v-col>
  </v-row>
  <v-row class="py-6">
    <v-col cols="12" class="text-center">
      <h2>No.0: TextCenterST</h2>
    </v-col>
    <TextCenterST />
    <v-col cols="12">
      <v-divider></v-divider>
    </v-col>
  </v-row>
  <v-row class="py-6">
    <v-col cols="12" class="text-center">
      <h2>No.1: TileLayoutST</h2>
    </v-col>
    <TileLayoutST />
    <v-col cols="12">
      <v-divider></v-divider>
    </v-col>
  </v-row>
  <v-row class="py-6">
    <v-col cols="12" class="text-center">
      <h2>No.2: TitleImgLayoutST</h2>
    </v-col>
    <TitleImgLayoutST />
    <v-col cols="12">
      <v-divider></v-divider>
    </v-col>
  </v-row>
</v-main>
